<h3 class="sub-header">Hey, What's That Board Over There?</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tutors</th>
      <% timeslots_array.each do |time| %>
        <th><%=time%></th>
        <%end%> 
     
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <% timeslots_array.each do |time| %>
        <td><%=available(time,user.id)%></td>
        <%end%> 
    </tr>
    <% end %>

      
    </tbody>
  </table>
</div>
