<div class="container">
   <div class="header"> Create a Session: </div>
  <form action="/timeslots/new" method="post">
   <select name="time">
    <% timeslots_array.each do |time| %>
      <option value="<%= time %>"><%= time %></option>
    <% end %>
  </select>
  <input type="submit" value="submit" class="btn"/>
</form>
</div>

