<!-- <div class="container">
  <h1>Create a Session:</h1>
  <form action="/timeslots/new" method="post">
   <select value="time">
    <option id="10 AM"></option>
    <option id="11 AM"></option>
    <option id="12 PM"></option>
    <option id="1 PM"></option>
    <option id="2 PM"></option>
    <option id="3 PM"></option>
    <option id="4 PM"></option>
    <option id="5 PM"></option>
  </select>
  <input type="hidden" name="student_id" value="<% session[:user_id] %>">
  <input>
</form>
</div> -->


