<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tutors</th>
        <th>10 AM</th>
        <th>11 AM</th>
        <th>12 PM</th>
        <th>1 PM</th>
        <th>2 PM</th>
        <th>3 PM</th>
        <th>4 PM</th>
        <th>5 PM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
    </tbody>
  </table>
</div>
