<!DOCTYPE html>
<html lang="en">
<head>


	<!-- Makes it work in moblie -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="/stylesheets/application.css" media="all">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



	<title><%= @title || "What's that Board?" %></title>
</head>
<body>
<header>
	<div id="leftnav"><a href="/"><%= @title || "What's that Board?" %></a></div>
	<div id="rightnav"><a href="/login">Login</a></div>
</header>
	<%= yield %>
</body>
</html>
