<!DOCTYPE html>
<html lang="en">
<head>


  <!-- Makes it work in moblie -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="stylesheet" href="css/12cols.css" media="all"> -->
  <link rel='stylesheet' href='stylesheets/normalize.css' type='text/css'>
  <link rel='stylesheet' href='stylesheets/application.css' type='text/css'>


  <title><%= @title || "What's that Board?" %></title>
</head>
<body>
    <%= yield %>
</body>
</html>
