<div class="container">

  <h3 class="sub-header"><%= @tutor.name %>'s Feedback </h3>

  <% @feedback.each do |feedback| %>
    <div class = "feedback_post">
      <p><%= feedback.content %></p>
    </div>
  <% end %>

  <p>Want to add a review for <%= @tutor.name %>? Click <a href="/<%= @tutor.id%>/feedback/new">here</a></p>

</div>